<head>
<br>
 <font size="5">Menu</font> 
<br>
<style type="text/css">
A:hover {text-decoration:underline;color:#0000FF;}
p {color:blue}
</style>
<tbody>
      <tr>
        <td><%= link_to 'Libros', "/books" %></td>
        <td><%= link_to 'Autores', "/authors" %></td>
        <td><%= link_to 'Editoriales', "/editorials" %></td>
      </tr>
</tbody>
<br>
<br>
<form method="post" action="/consulta/index">
<p>
<font size="3">Seleccione su Opcion por la cual desea buscar:</font>
</p>
 <select name="campo">
  <option value="Nombre">Nombre</option>
  <option value="Autor">Autor</option>
  <option value="Editorial">Editorial</option>
</select> 
<br>

<br>
<p>
<font size="3"> Ingrese Texto a buscar:</font>
</p>
<input name="valor" type="text" size="25" value="">
<input type="submit" value="Buscar">
</form>
</head>

